@using Data.Models
@using System.Web.Mvc

@{
    ViewBag.Title = "Добро пожаловать!";
}

<main class="container mt-5">
    <section class="jumbotron text-center">
        <h1 class="display-3">Добро пожаловать в Translation Experts</h1>
        <p class="lead">Ваш первоклассный выбор для профессиональных услуг по переводу</p>
        <p>
            <a href="#" class="btn btn-primary btn-lg">Начать</a>
        </p>
    </section>

    <div class="row">
        <section class="col-md-6">
            <h2>Наши услуги</h2>
            <p>
                Мы специализируемся на широком спектре услуг по переводу, включая перевод документов,
                локализацию веб-сайтов и услуги устного перевода. Наша команда экспертов гарантирует точность
                и культурную чувствительность переводов.
            </p>
        </section>
        <section class="col-md-6">
            <h2>Почему выбирают нас?</h2>
            <p>
                В Translation Experts мы делаем ставку на качество, точность и своевременное выполнение заказов.
                Наше стремление к превосходству выделяет нас, делая нас надежным выбором для частных лиц и
                бизнесов, ищущих профессиональные решения в области перевода.
            </p>
        </section>
    </div>

    <section class="mt-5">
        <h2>Свяжитесь с нами</h2>
        <p>
            Готовы начать? Свяжитесь с нами для получения персонализированной помощи и узнайте, как наши услуги
            по переводу могут удовлетворить ваши языковые потребности.
        </p>
        <p>
            <a href="#" class="btn btn-outline-dark">Свяжитесь с нами</a>
        </p>
    </section>
</main>
